.head{
    text-align: center;
    color: white;
    text-decoration: dotted;
    background-color: black;
    padding:10px;
}

.para1{
    color:black;
   /* border: solid 1px black;*/
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: bisque;
}
.para2{
   
    margin-top:10px;
    /* border:solid 1px black;*/
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: yellowgreen;
    height:400px;
    
}
.item{
    height:300px;
    border:2px solid black;
    padding: 5px;
    margin:5px;
    width:200px;
    color:black;
    overflow: hidden;
   
   
}
.item:hover{
    animation-name: itemanim;
    
    animation-duration: 2s;

}

@keyframes itemanim {
    from{
        transform :scale(1);

    }
    to{
        transform: scaleX(-1);
    }
}
